#
# DNS Tools Config 
#
# NB relative paths are treated relative to work_dir (aside from work_dir itself)
# When zones are pushed - the entire zone directory contents are pushed.
# This includes signed and unsigned zones (such as local RFC1918 forward and reverse)
# 
# Both internal and external dns servers must be reachable by root via ssh
# NB - we use same zone dir names for internal / external dns servers
#
theme = 'dark'      # tty colors:  dark, light, none

#
# Domains
#
domains = ["example.com", "example.net", "other.com", "yetanother.com"]

#
# DNS servers common
#
dns_restart_cmd = "/usr/bin/systemctl restart nsd"
dns_user = 'nsd'
dns_group = 'nsd'
production_zone_dir = "/etc/nsd/zones"
# production_zone_dir = "/tmp/nsd/zones"                # testing

#
# Signing / working
#
sign_server = "dns_int.internal.example.com"
work_dir = "/etc/dns_tools"
key_dir = "keys"
expire = '90d'

[internal]
    dns_server = "dns_int.internal.example.com"
    staging_zone_dir  = "internal/staging/zones"
    
[external]
    dns_server = "dns_ext.internal.sapience.com"
    staging_zone_dir = "external/staging/zones"

