# 
# requirements.txt
# Run time
python >= 3.13
rsync       # Also by installer
ldns        # used to do actual zone signing
lockmgr     # used to protect against multiple instances of application running

# package building/installing
git
hatch
build
installer
wheel
hatch


