# 
# requirements.txt
# pip uses wheel and should have it as dependency 
# Run time
python >= 3.9
tomli       # needed for python < 3.11
rsync       # Also by installer
ldns        # used to do actual zone signing

# package building/installing
git
poetry
build
installer
wheel


